.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 391px;
  background-image: url("images/R1-08225-0025.JPG");
  background-position: 50% 50%;
  margin: 78px auto 0 229px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -347px 279px 60px 676px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 153px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 330px;
    margin-left: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 253px;
    margin-left: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 190px;
    margin-bottom: 17px;
    margin-left: 355px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 167px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 154px;
    margin: -473px auto 60px;
  }
}