body{
  font-family: 'Times New Roman', serif;
  text-align: center;
  color: blue;
  background-color: white;
}

.responsive {
  max-width: 50%;
  height: auto;
}

h1{
  font-weight: 500;
  font-size: 3em;
  margin-bottom: .3em;
}

h3{
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 2em;
}
 

a, a:visited {
  color: blue;
  text-decoration: none;
  line-height: 1.6em;
}

a:hover {
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
}

.button {
  background-color: white;
  border: none;
  color: blue;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: blue; 
}  

.button1:hover {
  background-image: url('https://64.media.tumblr.com/04abebfd35d53b43c7a9256bedda306d/c22743b277d0e807-0b/s400x600/9feebdc5dd7bf3eb1e0193dd43332085655ca4a6.jpg');
  color: white;
}


.button2 {
  background-color: white; 
  color: blue; 
}  

.button2:hover {
  background-image: url('https://64.media.tumblr.com/d2f8dde15e67d0098fbe59a526398812/e018291a360a8eb4-ac/s250x400/54b97940cb6db73b5f521f101c93510cca9b5b82.png');
  color: white;
}


.button3 {
  background-color: white; 
  color: blue; 
}  

.button3:hover {
  background-image: url('https://64.media.tumblr.com/7c003ebb932207931768c40aaea58e82/3ceb5451fec45c5d-67/s100x200/08c2ea01229116d5f9cbd8e1dd3a901c87cec598.png');
  color: white;
}

</style>
